<h1><%= title %></h1>
<% if (categoryList) {%>
    <ul>
        <% for (let category of categoryList) { %>
            <li>
                <a href=<%- category.url %>><%= category.name %></a>
            </li>
            <% }%>
    </ul>
<% } else {%>
    <p>We don't have any inventory right now</p>
    <% }%>