<h1> Create a Department </h1>
<% if (user) {%>
<form method="POST">
    <label> New Department Name
        <input 
            name="name" 
            placeholder="shoes, hats, etc."
            value="<% undefined === department ? '' : department.name %>"
        />
    </label>
    <button class="btn btn-primary" type="submit">Add</button>
</form>
<% } else { %> 
    <h3>You must be logged in to delete create a department </h3>
<% } %> 
<% if (errors) {%>
    <ul>
        <% for (let error of errors) { %>
            <li>
                <%= error.msg %>
            </li>
            <% }%>
    </ul>
 <% } %>
