<h1> Create a Department </h1>
<form method="POST">
    <label> New Department Name
        <input 
            name="name" 
            placeholder="shoes, hats, etc."
            value="<% undefined === department ? '' : department.name %>"
        />
    </label>
    <button class="btn btn-primary" type="submit">Add</button>
</form>

<% if (errors) {%>
    <ul>
        <% for (let error of errors) { %>
            <li>
                <%= error.msg %>
            </li>
            <% }%>
    </ul>
 <% } %>
