<h1> Create a Department </h1>
<form method="POST">
    <label> New Department Name
        <input name="name" placeholder="shoes, hates, etc." />
    </label>
    <button type="submit">Add</button>
</form>


