<h1><%= title %></h1>
<% if (user) { %>
  <p> Welcome back <%= user.username %> to Diglet&apos;s department store</p>
<% } else { %>
  <p> Welcome to Diglet&apos;s department store</p>
<% } %>
<p>Here is stock of our inventory</p>
<ul>
  <li><b>Departments: </b><%= categoryCount %></li>
  <li><b>Products: </b><%= productCount %></li>
</ul>